pipeline/PL_CallDataFlow.json
{
	"name": "PL_CallDataFlow",
	"properties": {
		"activities": [
			{
				"name": "LKP_FetchHandShakeValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.parquet"
						}
					},
					"dataset": {
						"referenceName": "DS_Lake_Handshake",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "PL_DataFlowTransformations",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "LKP_FetchHandShakeValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "test_dataflow",
						"type": "DataFlowReference",
						"datasetParameters": {
							"HC01Person": {
								"HandShakeValue": {
									"value": "@activity('LKP_FetchHandShakeValue').output.firstRow.LatestFolderName",
									"type": "Expression"
								}
							},
							"HC01PersonPosition": {
								"HandShakeValue": {
									"value": "@activity('LKP_FetchHandShakeValue').output.firstRow.LatestFolderName",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"annotations": []
	}
}